<!-- "CustomMesh": {
  "MeshURL": "http://cloud-3.steamusercontent.com/ugc/786374678936145595/0EE2ABB7760DCBE1B2196DDE94983A1BA3538766/",
  "DiffuseURL": "http://cloud-3.steamusercontent.com/ugc/786374678936179018/3DB22B484906E5F91ADE4F48A3BCE97A60A1CA28/",
  "NormalURL": "",
  "ColliderURL": "http://cloud-3.steamusercontent.com/ugc/786374678936133623/E1B8842A5BB217612EE3E386C71A65032236C2D0/",
  "Convex": true,
  "MaterialIndex": 3,
  "TypeIndex": 1,
  "CastShadows": true
}, -->
<!-- see: https://github.dev/TTSWarhammer40k/Battleforged-Workshop-Mod-Compilation -->
